@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
    background-color: #f0f0f0;
}
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    color: #343436;
}

#contents{
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 15vh;
}

#profile {
    z-index: 10;
    display: block;
    transition: all 0.3s cubic-bezier(.93,1.69,.53,.91);
    width: 99%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #aaaaaa, -10px -10px 10px #ffffff;
}

#profile p{
    display: block;
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    /* text-align: center; */
    font-size: 5vw;
    /* margin-top: calc(20% - 45px); */
    color: #0f0f0f;
}

#profile:hover {
    z-index: 20;
    width: 100%;
    box-shadow: 15px 15px 15px #8f8f8f, -15px -15px 15px #ffffff;
}

#profile:active {
    transition: all 0.1s cubic-bezier(.93,1.69,.53,.91);
    width: 99%;
    box-shadow: inset 10px 10px 20px #8f8f8f, inset -30px -30px 30px #ffffff;
}

#grid {
    display: grid;
    width: 100%;
    height: 70%;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: 25% 25%;
    row-gap: 25px;
    column-gap: 20px;
}

.grid_items {
    display: block;
    z-index: 10;
    transition: all 0.3s cubic-bezier(.93,1.69,.53,.91);
    /* position: relative; */
    width: 99%;
    height: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #aaaaaa, -10px -10px 10px #ffffff;
}

.grid_items:hover {
    z-index: 20;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 15px 15px 15px #8f8f8f, -15px -15px 15px #ffffff;
}

.grid_items:active {
    transition: all 0.1s cubic-bezier(.93,1.69,.53,.91);
    width: 99%;
    box-shadow: inset 10px 10px 20px #8f8f8f, inset -20px -20px 20px #ffffff;
}

.grid_items:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid_items p {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10vh;
}

.contents {
    z-index: 30;
    transition: all 0.5s;
    position: fixed;
    top: 100%; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e7e8e9;
}

.contents a {
    display: inline;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px; right: 20px;
    transition: all 0.2s;
    text-align: center;
    font-size: 40pt;
    color: #0f0f0f;
}

.contents a:hover {
    padding-top: 1px;
    font-size: 38pt;
}

.contents p {
    font-size: 10vh;
    color: #0f0f0f;
}

#name {
    display: inline;
    font-size: 10vh;
    color: #0f0f0f;

}

#mail {
    /* display: inline; */
    font-size: 3vw;
    text-align: center;
    margin-top: 45vh;
}

#mail span{
    /* color: #366ad3; */
    border-bottom: 3px solid #343436;
}

#copylight {
    z-index: 10000;
    display: inline;
    position: absolute;
    bottom: 0; left: calc(50% - 53px);
    font-size: 10pt;
    color: #969696;
}